.btn2-custom {
  text-decoration: none;
  color: black;
}
.btn2-custom:hover {
  color: white;
}

.btn2-grad {
  padding: 7px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #348ac7;
  border: 1px solid slateblue;
  text-decoration: none;
}
.btn2-grad:hover {
  background-image: linear-gradient(
    to right,
    #7474bf 0%,
    #348ac7 51%,
    #7474bf 100%
  );

  padding: 7px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
